.darkMode {
  background: var(--ligh-black2);
  color: var(--light-gray);
}

.completed {
  border-radius: var(--b-radius);
  background: var(--green);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-decoration: line-through;
  color: var(--grey);
}

.li {
  opacity: 0;
  transform: scale(0.7);
  transition: 0.3s ease;
}

.show {
  opacity: 1;
  transform: scale(1);
}

.li p {
  min-height: 3.8rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

.complete p {
  color: var(--grey);
  text-decoration: line-through;
}

.span {
  transition: 0.3s ease;
  display: block;
}
.span:hover {
  color: var(--violet);
}

.contentItem {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.iconCheck:hover {
  color: var(--green);
}

.iconClose {
  font-size: 0.8rem;
}

.iconUndo:hover {
  color: var(--white);
}

.iconClose:hover {
  color: var(--red);
}

@media (min-width: 768px) {
  .li {
    max-width: 26rem;
    grid-column: 3 / span 8;
  }
}
