.container {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon:hover {
  transform: rotate(30deg);
  transition: transform 0.5s ease;
}
.sun {
  color: white;
}
