.searchContainer {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 10;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: flex-end;
}

.inputContainer {
  grid-column: 1 / span 12;
  background: var(--violet);
  border-radius: 0.625rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.iconSerch * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-gray);
}

.iconSerch {
  color: var(--light-gray);
}

.iconSerch * {
  transition: 0.3s ease;
}

.iconSerch:hover * {
  color: var(--grey);
}

.input {
  border: none;
  margin: 0;
  padding: 0;
  color: var(--light-gray);
  height: 3.8rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 0.5rem;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--light-gray-50);
}

.iconClose {
  color: var(--light-gray);
  font-size: 0.8rem;
}

.iconClose:hover {
  color: var(--red);
}

@media (min-width: 768px) {
  .input {
    max-width: 26rem;
  }

  .searchContainer {
    grid-column: 7 / span 6;
    grid-row: 3 / span 1;
  }
  .inputContainer {
    grid-column: 3 / span 8;
  }
}
