.todoCounter {
    grid-column: 2 / span 10;
    color: var(--grey);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 2.5rem; 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 26rem;
    margin: 1rem auto;
}

.todoCounter b {
  margin: 0 0.5rem;
}

@media (min-width: 768px) {

  .todoCounter{
    grid-column: 7 / span 6;
    grid-row: 2 / span 1;
  }
  
}